* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    overflow-x: hidden; 
  }
  

#light {
    position: fixed;
    width: 800px;
    height: 800px;
    border-radius: 40%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.034) 0%, rgba(206, 6, 6, 0) 70%);
    pointer-events: none;
    transform: translate(-50%, -50%);
}

body {
    line-height: 1.6;
    color: #fff;
    background-color: #101010;
}

.background {
    background-color: #101010;
    background-size: cover;
    background-position: center;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 2.5px;
}

span {
    color: #008b23;
    transition: color 0.3s ease;
}

span:hover {
    color: #02b820;
}

.cabecalio-link {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style-type: none;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

nav ul a:hover {
    color: #008b23;
}

.info-primaria {
    text-align: center;
    margin-top: 3rem;
}

.info-primaria h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.info-primaria h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-primaria h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-sobremim {
    display: inline-block;
    background-color: #008b23;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-sobremim:hover {
    background-color: transparent;
    border: 2px solid #008b23;
}

.backsobre, .Habilidades, .port {
    padding: 5rem 2rem;
}

.main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.main-sobre img {
    max-width: 100%;
    height: auto;
}

.txt-sobre {
    max-width: 550px;
}

.txt-sobre h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.txt-sobre h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.meu-portfolio h2 {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.minhas-habilidade h2 {
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 15px;
    color: #008b23;
}
.minhas-habilidade p {
    padding: 15px;
    margin: 15 px;
}

.caixa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    background: #191919;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    max-width: 350px;
    width: 100%;
}

.card i {
    font-size: 3rem;
    color: #008b23;
    margin-bottom: 1rem;
}

.card h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.icones i {
    font-size: 2rem;
    margin: 0 0.5rem;
}

.button-port {
    display: inline-block;
    background-color: #008b23;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

.button-port:hover {
    background-color: transparent;
    border: 2px solid #008b23;
}

footer {
    background-color: #101010;
    text-align: center;
    padding: 3rem 1rem;
}

footer h6 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.Redes-sociais {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.Redes-sociais a {
    background-color: #02b820;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    transition: transform 0.3s ease;
}

.Redes-sociais a:hover {
    transform: scale(1.2);
}

.end {
    font-size: 0.875rem;
    color: #02b820;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.experiencia {
    background-color: #101010;
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.experiencia h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #02b820;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 5px auto;
    padding: 20px 0;
    text-align: left;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 40px;
}

.timeline-item:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #02b820; 
}

.timeline-date {
    position: flex;
    left: 0;
    top: 10;
    font-size: 1.2em;
    font-weight: bold;
    color: #02b820; 
    
}

.timeline-content h3 {
    font-size: 1.5em;
    color: #02b820; 
    margin-bottom: 5px;
}

.timeline-content h4 {
    font-size: 1.2em;
    color: #fff; 
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 1em;
    color: #ccc;
    line-height: 1.6;
}

.timeline-item:before {
    content: none;
}

.timeline-content {
    background-color: transparent;
    padding: 10px 15px;
    border-left: none; 
}


.certificados {
    background-color: #101010;
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.certificados h2{
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #02b820;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 600px;
}

.modal img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.certificados .gallery img {
    max-width: 500px; 
    height: auto; 
    border-radius: 10px; 
    margin: 10px; 
    transition: transform 0.3s;
}

.certificados .gallery img:hover {
    transform: scale(1.1)}


    .certificados .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 20px; 
    }
    
    .gallery-item {
        flex: 1 1 calc(33.333% - 20px); 
        max-width: calc(33.333% - 20px); 
        box-sizing: border-box; 
        text-align: center;
    }
    
    .gallery-item img {
        width: 300px; 
        height: 200px; 
        object-fit: cover; 
        border-radius: 10px; 
        transition: transform 0.3s;
        margin: 10px; 
    }
    
    .gallery-item img:hover {
        transform: scale(1.1); 
        color: #000;
    }

    .certificados .gallery-item {
        position: relative;
        cursor: pointer;
    }
    
    .gallery-item .hover-text {
        display: none; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8); 
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        max-width: 90%;
        width: 250px;
        z-index: 10;
        font-size: 0.9em;
    }
    
    .gallery-item:hover .hover-text {
        display: block; 
    }
    
    .gallery-item img {
        transition: transform 0.3s, filter 0.3s;
    }
    
    .gallery-item:hover img {
        transform: scale(1.1);
        filter: brightness(0.6); 
    }

    .skills-list {
        list-style: none;
        padding: 0;
    }
    .skills-list li {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .skills-list i {
        font-size: 1.5rem;
        margin-right: 10px;
        color: #008b23;
    }
    .stars {
        margin-left: auto;
        color: gold;
        font-size: 1.2rem;
    }

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        animation: spinz 1.35s linear infinite;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);   
        z-index: 100;
      }
      
      .loader {
        border: 16px solid rgba(0, 0, 0, 0.8);
        border-top: 16px solid #008b23; 
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1.35s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -60px;
        margin-left: -60px;
      }
    
      @keyframes spin { 
        0% {
          transform: rotate(0deg);
          opacity:1;
        }
        50% {
          transform: rotate(360deg);
          opacity:1;
        }
        75% {
          opacity:1;
          transform: rotate(180deg);
        }
        100% {
          transform: rotate(0deg);
          opacity:0;
        }
      }
      
      @keyframes spinz {
        0% {
          opacity:1;
        }
        50% {
          opacity:1;
        }
        75% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }




    
@media screen and (max-width: 768px) {
    .timeline-item {
        padding-left: 30px;
    }

    .timeline-item:before {
        left: 15px;
    }

    .timeline-item:after {
        left: 8px;
    }
}

@media screen and (max-width: 480px) {
    .experiencia h2 {
        font-size: 2em;
    }

    .timeline-content h3 {
        font-size: 1.3em;
    }

    .timeline-content h4 {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 768px) {
    .cabecalio-link {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .info-primaria h1 {
        font-size: 2.5rem;
    }

    .main-sobre {
        flex-direction: column;
    }

    .txt-sobre {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .background {
        padding: 1rem;
    }

    .info-primaria h1 {
        font-size: 2rem;
    }

    .card {
        padding: 1.5rem;
    }
}